<app-divider title="Concepts Demonstration"></app-divider>
<p>
    This app will show how to use a couple of different angular concepts 🤯😅
</p>
<ul>
    <li><a routerLink="/elements">Elements</a></li>
    <li>
        <a routerLink="/collections">Collections</a>
        <ol>
            <li><a routerLink="/collections">Biography</a></li>
            <li><a routerLink="/collections/companies">Companies</a></li>
            <li><a routerLink="/collections/partners">Partners</a></li>
        </ol>
    </li>
    <li><a routerLink="/views">Views</a></li>
    <li><a routerLink="/modules">Modules</a></li>
</ul>